<div class="row">
  <div class="col">
    <div class="input-group">
      <%= search_form_for @search, url: article_strategies_path do |f| %>
        <%= f.search_field :title_cont, placeholder: '検索', class: "search-name" %>
        <%= f.submit "検索", class: "btn btn-info" %>
      <% end %>
    </div>
    <% if @feed_items.any? %>
      <ul class="article">
        <% @feed_items.each do |feed_item| %>
          <div class="card">
            <div class="card-body">      
              <li class="card-text"><%= link_to feed_item.title, edit_article_strategy_path(id: feed_item), class: "text-white" %></li>
            </div>   
          </div>   　        
        <% end %>   　
      </ul> 
      <%= paginate @feed_items, params: { controller: :pages, action: :index } %>
    <% else %>
      <h5 class="no-data">まだ記事がありません</h5>
    <% end %>
  </div>
</div>