<% if !current_user?(article.user) %>
  <span class="star">
    <% if article.star?(current_user) %>
      <%= form_for(article.stars.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{article.stars_count}", class: "far fa-star text-info" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(article.stars.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :article_id, article.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{article.stars_count}", class: "far fa-star text-white" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>