<div class="card-deck">
  <div class="col">
    <section class="card border-light">
      <h2 class="card-header border-light form-title">プロフィール画像設定</h2>
        <div class="card-body">
          <%= form_with(model: @profile, url: account_avatar_path, method: :put, local: true) do |f| %>
            <div class="edit-avatar">      
              <div class="circle-avatar">
                <%= image_tag @profile.avatar.to_s, id: "avatar-prev" %>
                <% if @profile.avatar? %>
                  <label><%= f.check_box :remove_avatar %> 画像を削除する</label>
                <% else %>
                  <%= f.hidden_field :avatar_cache %>
                <% end %>
              </div>
              <div class="custom-file">
                <%= f.file_field :avatar, id: "avatar-img", class: "custom-file-input" %>
                <label class="custom-file-label" for="customFile">ファイルを選択...</label>      
              </div>             
              <div class="edit-form">
                <%= link_to 'キャンセル' , account_path, class: "btn btn-light" %>
                <%= f.submit "変更する", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>   
    </section>     
  </div>
</div>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#avatar-prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
    }
  }
 $("#avatar-img").change(function(){
   readURL(this);
 });
});
</script>