<div class="user_info">
  <div class="row">
    <div class="col"> 
      <section class="user_show">
        <div class="circle-avatar">
          <%= image_tag @user.profile.avatar.to_s, :class => "float-center border mb-2 mx-auto" %>
        </div>
        <h3><%= @user.username %></h3>
        <% if@user.profile.description? %>
          <p><%= @user.profile.description %></p>
        <% end %>       
      </section>
      <%= render 'users/follow_form' if logged_in? %>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>  
      <div class="micropost-page">
        <h3>投稿一覧</h3>    
        <% if @micropost_feed_items.any? %>
        <div class="microposts">
          <%= render @micropost_feed_items %>
        </div>
        <%= paginate @micropost_feed_items, params: { controller: :users, action: :show } %>
      <% end %>    
      </div>
    </div>
  </div>
</div>