<div class="password">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <p class="text-white">パスワードを忘れましたか?</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "メールアドレス" %>
        </div>

        <div class="form-group">
          <%= f.submit "パスワード再発行", class: "btn btn-success btn-lg form-submit" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
