<% if logged_in? %>
<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', pages_show_path, class: "fas fa-user fa-4x faa-pulse animated my-yellow" %>
          <p>プロフィール</p>
        </div>
      </div>
       <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', clocks_rank_path, class: "fas fa-crown fa-4x faa-pulse animated my-darkgoldenrod" %>
          <p>ランキング</p>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', users_path, class: "fas fa-users fa-4x faa-pulse animated my-red" %>
          <p>ユーザー</p>
        </div>
      </div>
       <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', article_path, class: "fas fa-book fa-4x faa-pulse animated my-orange" %>
          <p>学習</p>
        </div>
      </div> 
      <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', microposts_path, class: "far fa-comments fa-4x faa-pulse animated my-green" %>
          <p>チャット</p>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', new_micropost_path, class: "fas fa-pen fa-4x faa-pulse animated my-mediumseagreen" %>
          <p>投稿</p>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="home-icon">
         <%= link_to '', new_clock_path, class: "far fa-clock fa-4x faa-pulse animated my-blue" %>
         <p>タイマー</p>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="home-icon">
         <%= link_to '', clocks_path, class: "fas fa-hourglass-start fa-4x faa-pulse animated my-cyan" %> 
         <p>計測履歴</p>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="home-icon">
          <%= link_to '', account_path, class: "fas fa-user-edit fa-4x faa-pulse animated my-gray" %>
          <p>設定</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container  discription-container">
    <h1>R.Cuber</h1>
  </div>
</div>
<div class="container">
  <div class="container discription-container">
    <div class="title">
      <h2>ABOUT.</h2>
    </div>
    <div class="row">
      <div class="col-md-6 about">
        <h3>R.Cuberとは？</h3>
        <p>R.Cuberとは,ルービックキューブのためのwebアプリケーションです。</p>
        <p>ルービックキューブ...できるようになりたくないですか？極めたくないですか？</p>
        <h4>2つの目的があります。</h4>
        <p>1.立体パズルの魅力を知り楽しんでもらうこと。</p>
        <p>2.ロジックを理解し競技性を高めること。</p>
        <h5>興味を持ったらいますぐ始めよう！</h5>
        <%= link_to "はじめる", new_user_registration_path, class: "btn btn-info btn-lg" %>
        <p class="test-login">※ゲストログインができます!</p>
      </div>
      <div class="col-md-6">
        <div class="signup-logo-img">
          <%= image_tag('cube7.png', width: 250) %>
        </div>
      </div>
    </div>
  </div>
  <div class="container discription-container">
    <div class="title">
      <h2>FEATURE.</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="discription-img-container">
          <i class="far fa-clock fa-4x my-blue"></i>
        </div>
        <h3>StopWatch</h3>
        <p>ルービックキューブを全面揃えるまでにかかった時間を計測し記録することができます。自分だけのベストタイムを叩き出そう！。</p>
      </div>
      <div class="col-md-3">
        <div class="discription-img-container">
          <i class="fas fa-crown fa-4x my-red"></i>
        </div>
        <h3>Ranking</h3>
        <p>全ユーザーのタイムを早順で見ることができます。あなたが出した記録がランキングに表示されるかもしれません。他のユーザーと競い合おう！</p>
      </div>
      <div class="col-md-3">
        <div class="discription-img-container">
          <i class="far fa-comments fa-4x my-green"></i>
        </div>
        <h3>Chat</h3>
        <p>一人よりもみんなで。過去の思い出や現在の出来事を発信し自分が経験した事を記録に残そう。また、記録を共有することで多くの知識を得たり、またはその知識を応用できるでしょう。</p>
      </div>
      <div class="col-md-3">
        <div class="discription-img-container">
          <i class="fas fa-book fa-4x my-orange"></i>
        </div>
        <h3>Learning</h3>
        <p>立体パズルに関する知識を深めよう！この機能はただ学ぶだけでなく、自分の持っている情報を他の誰かに共有することもできます。</p>
      </div>
    </div>
  </div>

  <div class="container discription-container">
    <div class="title">
      <h2>TRY.</h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="accordion step" id="accordion">
          <div class="card">
            <div id="headingOne">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  STEP1　LOGIN
                </button>
              </h4>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                  <p>1.左上のグローバルメニューからゲストログインを選択する。</p>
                  <p>2.ゲストユーザーとしてログインできます。</p>
                  <p>3.ログインするとホームが表示されます。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingTwo">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  STEP2　TIMER
                </button>
              </h4>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                  <p>1.グローバルメニューからタイマーを選択する。</p>
                  <p>2.時間を測って記録してみよう！</p>
                  <p>3.計測記録のページが表示され今のタイムを見ることができます！</p>
                  <p>4.グローバルメニューからランキングを選択する。</p>
                  <p>5.全ユーザーのタイムが早い順に表示されます。自分のタイムがあるか確認しよう！</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingThree">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  STEP3　CHAT
                </button>
              </h4>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                  <p>1.グローバルメニューから投稿を選択する。</p>
                  <p>2.メッセージを投稿してみよう！</p>
                  <p>3.チャットページが表示され、投稿されたメッセージを見ることができます。</p>
                  <p>4.他のユーザーの投稿にいいねをしよう！</p>
                  <p>5.気になったユーザーのプロフィールを見てフォローする事もできます！(ユーザー名からプロフィールにいけます。)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="headingFour">
              <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  STEP4　LERAN
                </button>
              </h4>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                  <p>1.グローバルメニューから学習を選択する。</p>
                  <p>2.記事一覧から気になった記事を読むことができます！</p>
                  <p>3.作成するから自分で記事をつくることができます！</p>
                  <p>4.編集から自分の記事を編集できます。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>