<div class="user_info">
  <section class="user_show">
    <div class="circle-avatar">
      <%= image_tag current_user.profile.avatar.to_s, class: "float-center border mb-2 mx-auto" %>
    </div>
    <h3><%= current_user.username %></h3>
    <% if current_user.profile.description? %>
      <p><%= current_user.profile.description %></p>
    <% end %>        
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <div class="col">
    <div class="micropost-page">
      <h3>投稿一覧</h3>
      <% if @micropost_feed_items.any? %>
        <div class="microposts">
          <%= render @micropost_feed_items %>
        </div>
        <%= paginate @micropost_feed_items, params: { controller: :pages, action: :show } %>
      <% end %>       
    </div>
  </div>
</div>