<div class="row">
  <div class="col">
    <% if @clocks.any? %>
      <ul class="rank">
        <% @clocks.each.with_index(1) do |clock, i| %>
          <div class="card">
            <div class="card-body">
              <div id="clock-<%= clock.id %>" data-article-id="<%= clock.id %>">
                <li class="card-text">
                  <div class="row">
                    <div class="col-3 col-md-1">
                      <h5><%= i %>位</h5>
                    </div>
                    <div class="col-9 col-md-4">
                      <h5><%= clock.hour %></h5>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-4 col-md-2">
                      <div class="users-avatar">
                        <% if clock.user.profile.avatar? %>
                          <%= image_tag clock.user.profile.avatar.to_s, class: "float-center border mb-2 mx-auto" %>
                        <% else %>
                          <%= image_tag 'no_avatar.png', class: "float-center border mb-2 mx-auto" %> 
                        <% end %>
                      </div>
                    </div> 
                    <div class="col-6 col-md-4 users-name">
                      <p><%= link_to clock.user.username, clock.user, class: "text-white" %></p>
                    </div>
                  </div>
                </li>
              </div> 
            </div>  
          </div>               　        
        <% end %>   　
      </ul>
    <% else %>
      <h5 class="no-data">まだ記録がありません</h5>
    <% end %>
  </div>
</div>