<% if @microposts.any? %>
<div class="row">
<div class="col-1">
</div>
<div class="col-10">
  <div class="microposts">
    <% @microposts.each do |micropost| %>
      <div id="micropost-<%= micropost.id %>" data-micropost-id="<%= micropost.id %>">
        <div class="micropost">
          <div class="row">
            <div class="col-1">
              <% if micropost.user.profile.avatar? %>
                <%= image_tag micropost.user.profile.avatar.to_s, class: "float-center border mb-2 mx-auto" %>
              <% else %>
                <%= image_tag 'no_avatar.png', class: "float-center border mb-2 mx-auto" %> 
              <% end %>
            </div>
            <div class="col-8 users-name">
              <p><%= link_to micropost.user.username, micropost.user, class: "users-name text-white" %></p> 
            </div>
            <div class="col-2">
              <% if current_user?(micropost.user) %>
            　  <%= link_to "削除", micropost, method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-sm btn-danger" %>
            　<% end %>
            </div>
          </div>     
          <p><%= micropost.comment %></p>
          <% if micropost.picture.attached? %>
            <div class="log-picture">
             <%= image_tag micropost.resize_picture %>
            </div>
          <% end %>
          <div class="row">       
            <div class="col-8">
              <p class="micropost-time"><%= time_ago_in_words(micropost.created_at) %>前</span>     
            </div>
            <div class="col-4">
              <%= render "likes/like", micropost: micropost %>
            </div>
          </div>
        </div>     
      </div>
    <% end %>
  </div>
</div>
</div>
  <%= paginate @microposts %>
<% else %>
  <span>まだ投稿がありません</span>
<% end %>