<!DOCTYPE html>
<html>
  <head>
    <title>R.Cuber</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="drawer drawer--left">  
    <%= render 'layouts/header' %>
    
    <main role="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="row">
        <div class="col-md-3 pc_area">
          <%= render 'layouts/footer' %>
        </div>
        <% if user_signed_in? %>
          <div class="col-md-8">
            <%= yield %>
          </div>
        <% else %>
          <div class="col-12">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </main>

    <script>
    $(document).ready(function() {
      $('.drawer').drawer();
    });
    </script>
  </body>
</html>
