<!DOCTYPE html>
<html>
  <head>
    <title>CubeApp</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body class="drawer drawer--left">  
    <%= render 'layouts/header' %>
    <main role="main">  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>

    <script>
    $(document).ready(function() {
      $('.drawer').drawer();
    });
    </script>
  </body>
</html>
